// =======================================
//   List of variables for Preset color
// =======================================


$darkpink: #ff69b4; //rosa menu
$ligthpink:#ee99c2;//rosa fondo
$darkpinkbtn:#ff00ff;//hover button
$white:white;
$black:black;
